* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

$base-font-size: 13px;
$base-font-color: #222;
$primary-color: #39A9EB;
body {
  font-family: Arial, serif;
  color: $base-font-color;
  font-size: $base-font-size;
}

.container {
  padding: 40px;
  .section {
    .section-header {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
      margin: 20px 0 10px 0;
      text-transform: uppercase;
      font-size: $base-font-size * 1.4;
    }
    .section-content {
      margin: 10px 0;
      .company-detail, .institute-detail {
        span.name {
          font-size: $base-font-size * 1.1;
          font-weight: bold;
        }
        span.address {
          float: right;
        }
      }
      .job-detail, .education-detail, .certification-detail {
        span.title {
          font-size: $base-font-size * 1.1;
          font-style: italic;
        }
        span.duration {
          float: right;
          font-style: italic;
        }
      }
      .job-description {
        ul {
          list-style: disc;
          margin: 5px 0 5px 18px;
          li {
            margin: 5px 0;
          }
        }
      }
    }
  }
  #personalInformation.section {
    text-align: center;
    line-height: 20px;
    span.name {
      color: $primary-color;
      font-size: $base-font-size * 2;
      text-transform: uppercase;
    }
  }
}

.tiles-container {
  background-color: #2F3139;
  color: #fff;
  margin: auto;

  .tile {
    cursor: pointer;
    float: left;
    padding: 10px;
  }

  .tile:nth-child(1) {
    background-color: #C43044;
  }

  .tile:nth-child(2) {
    background-color: #11998C;
  }

  .tile:nth-child(3) {
    background-color: #14576F;
  }

  .tile:nth-child(4) {
    background-color: #3C3E49;
  }
}

#resumeContainer {
  .container {
    background-color: #FFF;
    color: #222;
  }
}

@media screen and (min-width: 400px) {
  .container {
    width: 100%;
    .tile {
      width: 100%;
      height: 150px;
    }
  }
}

@media screen and (min-width: 600px) {
  .container {
    width: 100%;
    .tile {
      width: 100%;
      height: 200px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 100%;
    .tile {
      width: 50%;
      height: 300px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
    .tile {
      width: 50%;
    }
  }
}

hr.spacer-5 {
  border: none;
  margin: 5px 0;
}

hr.spacer-10 {
  border: none;
  margin: 10px 0;
}