$base-font-size: 14px;
$base-font-color: #222;
$link-color: #0077CC;
$primary-color: #39A9EB;
$background-color: #fff;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $link-color;
}

body {
  background-color: $background-color;
  color: $base-font-color;
  font-family: Arial, serif;
  font-size: $base-font-size;
}

.container {
  margin: 20px auto;
  ul.nav-bar {
    border-top: 1px solid $base-font-color;
    border-bottom: 1px solid $base-font-color;
    font-size: $base-font-size * 1.2;
    min-height: 1px;
    overflow: auto;
    text-align: center;
    width: 100%;
    li {
      display: inline-block;
      padding: 5px 10px;
      a {
        color: $base-font-color;
        display: block;
      }
    }
  }
  .content {
    p {
      padding: 10px;
      text-align: center;
      span.em {
        font-size: $base-font-size * 1.2;
      }
    }
    ul.skill-list {
      li {
        border: 1px solid $base-font-color;
        border-radius: 20%;
        float: left;
        padding: 5px;
        margin: 5px 5px;
        a {

        }
      }
    }
  }
  .resume-gdocs-iframe {
    border: none;
    height: 1200px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    ul.nav-bar {
      li {
        float: none;
        width: 100%;
        text-align: center;
      }
    }
    .resume-gdocs-iframe {
      display: none;
    }
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
  }
}

@media screen and (min-width: 1400px) {
}

hr.spacer-5 {
  border: none;
  margin: 5px 0;
}

hr.spacer-10 {
  border: none;
  margin: 10px 0;
}