<div class="content">

    <p>My skills constitute of</p>

    <ul class="skill-list">
        <li>Java</li>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>SQL</li>
    </ul>

    <ul class="skill-list">
        <li>Spring</li>
        <li>Hibernate</li>
        <li>AngularJs</li>
        <li>JQuery</li>
        <li>Laravel</li>
        <li>Codeigniter</li>
        <li>MySQL</li>
    </ul>

    <ul class="skill-list">
        <li>Maven</li>
        <li>Grunt</li>
        <li>Gulp</li>
    </ul>

    <ul class="skill-list">
        <li>Git</li>
        <li>Mercurial</li>
        <li>SVN</li>
        <li>Agile</li>
        <li>Scrum</li>
    </ul>
</div>