<div class="content">
    <p>Hello, I'm <span class="em">Mikesh Maharjan</span> and I'm a <span class="em">Software Developer</span>.</p>
    <p>I was <span class="em">Java Developer</span> at <span class="em"><a href="https://pointclickcare.com/" target="_blank">Point Click Care</a></span> and <span class="em"><a href="http://sdata.us/" target="_blank">Smart Data Solutions</a></span> for about 3 years.</p>
    <p>I also worked as a PHP Developer at <span class="em"><a href="http://otel.com.np/" target="_blank">Otel</a></span> for a while.</p>
    <p>I did my internship from <span class="em"><a href="http://www.yomari.com.np/" target="_blank">Yomari Inc.</a></span> as a Junior Java Developer </p>
    <p>I graduated from <span class="em"><a href="http://sxc.edu.np/" target="_blank">St.Xavier's</a></span> College in 2013</p>
</div>